@model SalesWebMVC.Models.Seller
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(Model => Model.Name)
        </dd>



        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(Model => Model.Email)
        </dd>



        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.BirthDate)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(Model => Model.BirthDate)
        </dd>



        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.BaseSalary)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(Model => Model.BaseSalary)
        </dd>



        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Department)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>